body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f0f0f;
  color: white;
  scroll-behavior: smooth;
}

/* Section title */
.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: #00e5ff;
}

/* Buttons */
.btn {
  background: #00e5ff;
  padding: 12px 20px;
  border-radius: 6px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
